/* 
//
// FORM PADRÃO 
*/
.patternForm {
    background-color: var(--white);
    border-radius: 1rem;
    box-shadow: var(--box-shadow);
    padding: 16px 10px;
}

.patternForm .another-option {
    display: flex;
    font-size: 1.45rem;
    justify-content: center;
    margin-top: 1.8rem;
    text-align: center;
    color: var(--color-dark);
}

.patternForm .another-option span a { 
    color: var(--color-green);
    font-weight: 700;
}

.patternForm .another-option span a i { 
    font-size: 1.8rem;
    font-weight: 700;
}

/* LIGADO DESLIGADO */
.turn-on {
    font-size: 1.7rem;
}

.turn-on i {
    transform: rotate(180deg);
    color: green;
}

.turn-off {
    display: block;
    font-size: 1.7rem;
    margin-top: 5rem;
}

.turn-off i {
    color: red;
}


/* 
//
// SIDEBAR
*/
.sidebar {
    background-color: var(--white);
    border-radius: 0.8rem;
    margin-bottom: 20px;
    padding: 1.8rem 2rem;
}
  
.sidebar header {
    color: var(--white);
}

.sidebar header h3 {
    color: var(--color-alt-blue);
    font-size: 1.7rem;
    font-weight: 700;
}

.sidebar h5 {
    font-size: 1.8rem;
}

.sidebar ul li:not(:last-child) {
    border-bottom: 1px solid #f7f7f7;
    margin-bottom: 0.8rem;
    padding-bottom: 0.5rem;
}

.sidebar ul li a {
    color: var(--color-alt-blue);
    font-size: 1.3rem;
    font-weight: 600;
    position: relative;
    transition: var(--transition2s);
}

.sidebar ul li a:after {
    content: '\f105';
    display: none;
    font-family: "Font Awesome 5 Free";
    height: 30px;
    left: -12px;
    position: absolute;
    top: 0px;
    width: 30px;
}
/* BREAKPOINT TABLET-TO-PC */
@media (min-width: 769px) {
    .sidebar ul li:hover {
        cursor: pointer;
        transition: var(--transition2s);
    }

    .sidebar ul li:hover a:after {
        display: inline-block;
    }

    .sidebar ul li:hover a {
        color: var(--color-green);
        transition: var(--transition2s);
    }
}



/* 
//
// MODAL
*/
.modal .modal-content {
    background-color: var(--color-alt-blue);
    padding: 3rem 0rem;
}

.modal .modal-header h2 {
    color: var(--white);
    font-family: var(--font-fredoka);
    font-size: 3.2rem;
    font-weight: 400;
    text-align: center;
}

/* BREAKPOINT TABLET / DESKTOP */
@media (min-width: 769px) {
    .modal .modal-content {
        padding: 2rem 4rem;
    }
}


