/* 
//
// FORM PADRÃO 
*/
.patternForm {
    background-color: var(--white);
    border-radius: 1rem;
    box-shadow: var(--box-shadow);
    padding: 16px 10px;
}

.patternForm .another-option {
    display: flex;
    font-size: 1.45rem;
    justify-content: center;
    margin-top: 1.8rem;
    text-align: center;
    color: var(--color-dark);
}

.patternForm .another-option span a { 
    color: var(--color-green);
    font-weight: 700;
}

.patternForm .another-option span a i { 
    font-size: 1.8rem;
    font-weight: 700;
}

/* LIGADO DESLIGADO */
.turn-on {
    font-size: 1.7rem;
}

.turn-on i {
    transform: rotate(180deg);
    color: green;
}

.turn-off {
    display: block;
    font-size: 1.7rem;
    margin-top: 5rem;
}

.turn-off i {
    color: red;
}


/* 
//
// SIDEBAR
*/
.sidebar {
    background-color: var(--white);
    border-radius: 0.8rem;
    margin-bottom: 20px;
    padding: 1.8rem 2rem;
}
  
.sidebar header {
    color: var(--white);
}

.sidebar header h3 {
    color: var(--color-alt-blue);
    font-size: 1.7rem;
    font-weight: 700;
}

.sidebar h5 {
    font-size: 1.8rem;
}

.sidebar ul li:not(:last-child) {
    border-bottom: 1px solid #f7f7f7;
    margin-bottom: 0.8rem;
    padding-bottom: 0.5rem;
}

.sidebar ul li a {
    color: var(--color-alt-blue);
    font-size: 1.3rem;
    font-weight: 600;
    position: relative;
    transition: var(--transition2s);
}

.sidebar ul li a:after {
    content: '\f105';
    display: none;
    font-family: "Font Awesome 5 Free";
    height: 30px;
    left: -12px;
    position: absolute;
    top: 0px;
    width: 30px;
}
/* BREAKPOINT TABLET-TO-PC */
@media (min-width: 769px) {
    .sidebar ul li:hover {
        cursor: pointer;
        transition: var(--transition2s);
    }

    .sidebar ul li:hover a:after {
        display: inline-block;
    }

    .sidebar ul li:hover a {
        color: var(--color-green);
        transition: var(--transition2s);
    }
}



/* 
//
// MODAL
*/
.modal .modal-content {
    background-color: var(--color-alt-blue);
    padding: 3rem 0rem;
}

.modal .modal-header h2 {
    color: var(--white);
    font-family: var(--font-fredoka);
    font-size: 3.2rem;
    font-weight: 400;
    text-align: center;
}

/* BREAKPOINT TABLET / DESKTOP */
@media (min-width: 769px) {
    .modal .modal-content {
        padding: 2rem 4rem;
    }
}


/* 
//
// MENU LATERAL
*/
.fixed-menu {
    display: none;
}

@media (min-width: 768px) {
    .fixed-menu {
        display: block;
        left: 10px;
        position: fixed;
        top: 235px;
        z-index: 9999999;
    }

    .fixed-menu ul {
        position: relative;
    }

    .fixed-menu ul:before {
        color: var(--color-dark);
        content: 'MENU';
        font-size: 1.3rem;
        font-weight: 600;
        left: -15px;
        letter-spacing: 2px;
        position: absolute;
        top: -42px;
        transform: rotate(90deg);
    }

    .fixed-menu ul:after {
        background: var(--white);
        border-radius: 0 10px 10px 0;
        box-shadow: 0 0 20px 0 #00000061;
        content: '';
        height: 322px;
        position: absolute;
        position: fixed;
        top: 158px;
        width: 45px;
        left: 0;
        z-index: -1;
    }

    .fixed-menu li {
        margin-bottom: 3px;
        width: 170px;
    }
    
    .fixed-menu li a {
        align-items: center;
        border: none;
        color: var(--white);
        cursor: pointer;
        display: flex;
        height: 30px;
        justify-content: center;
        overflow: hidden;
        position: relative;
        transition: all 450ms cubic-bezier(.4,.25,.3,1.3);
        width: 22px;
    }

    .fixed-menu ul li:nth-child(1) a {
        background: var(--color-primary);
    }

    .fixed-menu ul li:nth-child(2) a {
        background: var(--color-primary-dark);
    }

    .fixed-menu ul li:nth-child(3) a {
        background: var(--color-green);
    }

    .fixed-menu ul li:nth-child(4) a {
        background: #ed3237;
    }

    .fixed-menu ul li:nth-child(5) a {
        background: #ee5e3a;
    }

    .fixed-menu ul li:nth-child(6) a {
        background: var(--color-purple);
    }

    .fixed-menu ul li:nth-child(7) a {
        background: #24394b;
    }
    
    .fixed-menu li a span {
        color: var(--white);
        font-size: 18px;
        font-weight: 900;
        left: 50%;
        line-height: 60px;
        position: absolute;
        top: 50%;
        transition: all 400ms cubic-bezier(.4,.25,.3,1.3) 100ms;
        vertical-align: middle;
    }
    
    .fixed-menu li a span:first-of-type {
        font-size: 1.5rem;
        -webkit-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);
    }
    
    .fixed-menu li a span:last-of-type {
        -webkit-transform: translate(-50%,50%);
        transform: translate(-50%,50%);
        text-transform: uppercase;
    }
    
    .fixed-menu li a:hover {
        width: 170px;
        border-radius: 0;
    }
    
    .fixed-menu li a:hover span:first-of-type {
        -webkit-transform: translate(-50%,-150%);
        transform: translate(-50%,-150%);
    }
    
    .fixed-menu li a:hover span:last-of-type {
        -webkit-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);
    }    
}


