@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Montserrat:wght@300;400;600;700&display=swap');
@import url('./bars-menu.css');
@import url('./components.css');


:root {
    font-size: 60%;

    --color-primary: #01beed;
    --color-primary-dark: #005a93;
    --color-alt-blue: #007ef4;
    --color-light: #f7f7f7;
    --color-dark: #1e272e;
    --color-green: #0ba360;

    --font-fredoka: 'Fredoka One', cursive;
    --font-montserrat: 'Montserrat', sans-serif;

    --transition2s: all .4s ease-in-out;
    --transition4s: all .4s ease-in-out;


    --box-shadow: 2px 2px 7px 1px rgba(3, 3, 3, 0.16);
}

/* BREAKPOINT MOBILE-TO-TABLET */
@media (min-width: 768px) {
    :root {
        font-size: 78%;
    }
}

/* BREAKPOINT TABLET-TO-PC */
@media (min-width: 769px) {
    :root {
        font-size: 62.5%;
    }
}

/* 
//
//
// RESETS
// */
* {
    scroll-behavior: smooth;
}

body {
    font-family: var(--font-montserrat);
    color: var(--color-dark);
    -webkit-font-smoothing: antialiased;
}

a:hover {
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

p {
    font-size: 1.6rem;
}

.form-control, .btn {
    font-size: 1.6rem;
}

.btn__had {
    padding: 1.2rem 2.8rem;
    font-weight: 700;
}

/* 
//
//
// UTILS
// */
.expand-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1300px;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
}

.cursiveTxt header h2 {
    font-family: var(--font-fredoka);
}

.vh-75 {
    height: 75vh;
}

/* 
//
//
// HEADER
// */
.header {
    background: -webkit-gradient(linear, left top, left bottom, from(#EAF8FF), to(#F6F6FF));
    background: -webkit-linear-gradient(top, #EAF8FF 0%, #F6F6FF 100%);
    background: -o-linear-gradient(top, #EAF8FF 0%, #F6F6FF 100%);
    background: linear-gradient(180deg, #EAF8FF 0%, #F6F6FF 100%);
}


/* 
//
//
// NAVBAR
// */
.navbar {
    padding-top: 1.5rem;
}

.navbar .navbar-brand {
    margin-right: 0;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1rem;
    padding-left: 1rem;
}

.navbar .navbar-brand h1 {
    background-image: url(../img/logo.png);
    background-position: left;
    background-repeat: no-repeat;
    background-size: 90%;
    height: 60px;
    width: 200px;
}

.navbar-light .navbar-nav .active>.nav-link {
    color: var(--color-primary);
}

.navbar-light .navbar-nav .nav-link {
    font-size: 1.6rem;
    font-weight: 600;
    color: #000248ad;
}

.socialIcon__list {
    display: flex;
    justify-content: center;
    width: 100%;
}

.socialIcon__list ul {
    display: flex;
    justify-content: flex-end;
}

.socialIcon__list ul li a {
    background-color: var(--color-primary);
    border-radius: 50%;
    box-shadow: var(--box-shadow);
    color: var(--color-light);
    display: inline-block;
    font-size: 1.4rem;
    height: 2.8rem;
    line-height: 2.8rem;
    text-align: center;
    width: 2.8rem;
}

.socialIcon__list ul li:nth-child(2) {
    margin: 0 10px;
}

/* BREAKPOINT TABLET-TO-PC */
@media (min-width: 769px) {
    .navbar .navbar-brand h1 {
        width: 227px;
    }

    .socialIcon__list {
        width: auto;
    }

    .socialIcon__list ul li a {
        font-size: 1.8rem;
        height: 3.8rem;
        line-height: 3.8rem;
        width: 3.8rem;
    }

    .navbar-light .navbar-nav .nav-link:hover {
        color: var(--color-primary);
    }
}


/* 
//
//
// MAIN HEADER
// */
.hero {
    align-items: center;
    padding: 2.4rem 0;
}

.hero .hero__text .bg-title {
    background-color: var(--color-primary);
    border-radius: 1rem;
    box-shadow: var(--box-shadow);
    color: var(--color-light);
    display: inline-block;
    margin-bottom: 0.8rem;
    padding: 6px 12px;
    position: relative;
}

.hero .hero__text .bg-title:after {
    background-image: url(../img/icons/icon-destaque-img-right.png);
    background-repeat: no-repeat;
    background-size: 50%;
    content: '';
    display: inline-block;
    height: 64px;
    position: absolute;
    right: -38px;
    top: -24px;
    width: 39px;
}

.hero .hero__text .bg-title:before {
    background-image: url(../img/icons/icon-destaque-img-left.png);
    background-repeat: no-repeat;
    background-size: 50%;
    content: '';
    display: inline-block;
    height: 63px;
    left: -22px;
    position: absolute;
    top: -18px;
    width: 40px;
}

.hero .hero__text header {
    margin-bottom: 1.6rem;
    text-align: center;
}

.hero .hero__text header h2 {
    display: inline-block;
    font-family: var(--font-fredoka);
    font-size: 2rem;
    margin: 0;
}

.hero .hero__text header h3 {
    font-size: 3.2rem;
    font-family: var(--font-fredoka);
}

.hero .hero__text header p {
    font-size: 1.5rem;
}


/* BREAKPOINT TABLET-TO-PC */
@media (min-width: 769px) {
    .hero {
        height: 92vh;
    }

    .hero .hero__text .bg-title:after {
        background-size: 100%;
        right: -54px;
        top: -41px;
    }

    .hero .hero__text .bg-title:before {
        background-size: 100%;
        left: -52px;
        top: -35px;
    }

    .hero .hero__text header {
        text-align: left;
    }

    .hero .hero__text header h2 {
        display: inline-block;
        font-family: var(--font-fredoka);
        font-size: 3rem;
        margin: 0;
    }

    .hero .hero__text header p {
        font-size: 1.6rem;
    }
}


/* 
//
//
// HOW TO BOOSTER YOUR SALES
// */
.howToBoost header h2 {
    font-size: 3rem;
}

.howToBoost header h2 span {
    color: var(--color-alt-blue);
    text-transform: uppercase;
}

/* BREAKPOINT TABLET-TO-PC */
@media (min-width: 769px) { 
    .howToBoost header h2 {
        font-size: 3.6rem;
    }
}


/* 
//
//
// WHAT WE DO 
// */
.whatWeDo {
    background-color: var(--color-alt-blue);
    padding: 2rem 0;
}

.whatWeDo header h2 {
    font-size: 3.2rem;
    color: var(--white);
}

.whatWeDo .whatWeDo__box {
    align-items: center;
    background-color: var(--color-alt-blue);
    border-radius: 0.6rem;
    box-shadow: var(--box-shadow);
    color: var(--white);
    display: flex;
    display: flex;
    flex-direction: column;
    height: 200px;
    justify-content: center;
    padding: 1.4rem 0.4rem;
    transition: var(--transition4s);
}

.whatWeDo .whatWeDo__box h5 {
    font-size: 1.8rem;
    font-weight: 600;
    margin-bottom: 0;
    margin-top: 1.2rem;
}

.whatWeDo .whatWeDo__box svg {
    display: inline-block;
    fill: white;
    height: 8rem;
    width: 8rem;
    transition: var(--transition4s);
}

/* BREAKPOINT TABLET-TO-PC */
@media (min-width: 769px) { 
    .whatWeDo {
        padding: 8rem 0;
    }

    .whatWeDo .whatWeDo__box:hover {
        background-color: var(--white);
        color: var(--color-alt-blue);
        transition: var(--transition4s);
    }

    .whatWeDo .whatWeDo__box:hover svg  { 
        fill: var(--color-alt-blue);
        transition: var(--transition4s);
    }

}


/* 
//
//
// CREATIVE AND PROACTIVE
// */
.creativeProactive {
    background-image: url(../img/sections-background/bg-employee.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
}

.creativeProactive header h2 {
    font-size: 3.2rem;
    color: var(--color-alt-blue);
}

.creativeProactive .creativeProactive__list li {
    font-size: 1.6rem;
}

.creativeProactive .creativeProactive__list li i {
    font-size: 1.8rem;
    color: var(--color-alt-blue);
}


/* 
//
//
// PORTFOLIO
// */
.portfolio header h2 {
    color: var(--color-alt-blue);
    font-size: 3.2rem;
}


.portfolio .list-group li {
    width: 33%;
}

.portfolio .list-group li:nth-child(2) {
    margin: 0 1.3rem;
}

.portfolio .list-group .list-group-item {
    align-items: center;
    background-color: #cfefffe0;
    border-radius: 1rem;
    border: 0;
    box-shadow: inset 2px 2px 13px 1px rgba(3, 3, 3, 0.08);
    display: flex;
    flex-direction: column;
    height: 15rem;
    justify-content: center;
    padding: 1.4rem 0.4rem;
    width: auto;
}

.portfolio .list-group .list-group-item.active {
    background-color: var(--color-alt-blue);
    box-shadow: var(--box-shadow);
}

.portfolio .list-group .list-group-item span {
    color: var(--color-primary-dark);
    font-size: 1.55rem;
    font-weight: 600;
    line-height: 1.6rem;
    text-align: center;
}

.portfolio .list-group .list-group-item.active span {
    color: var(--white);
}

.portfolio .list-group .list-group-item svg {
    fill: var(--color-primary-dark);
    height: 5rem;
    margin-bottom: 0.7rem;
    width: 5rem;
}

.portfolio .list-group .list-group-item.active svg {
    fill: var(--white);
}

.portfolio .portfolio__box {
    background-color: var(--white);
    border: 1px solid #eeeeee;
    box-shadow: var(--box-shadow);
    position: relative;
}

.portfolio .portfolio__box header {
    overflow: hidden;
    position: relative;
}

.portfolio .portfolio__box {
    transition: var(--transition2s);
}

.portfolio .portfolio__box .box-overlay {
    align-items: center;
    background-color: rgba(3, 3, 3, 0.33);
    color: var(--white);
    display: flex;
    font-size: 2rem;
    font-weight: 600;
    height: 100%;
    justify-content: center;
    left: 0;
    position: absolute;
    top: 0;
    transition: var(--transition2s);
    width: 100%;
    z-index: 1;
}

.portfolio .portfolio__box footer {
    padding: 10px 0;
}

.portfolio .portfolio__box footer h4 {
    color: var(--color-dark);
    font-weight: 600;
    margin-bottom: 0;
}


/* BREAKPOINT TABLET-TO-PC */
@media (min-width: 769px) { 
    .portfolio .list-group li {
        width: auto;
    }

    .portfolio .list-group li:nth-child(2) {
        margin: 0 1.8rem;
    }

    .portfolio .list-group .list-group-item {
        width: 160px;
    }

    .portfolio .list-group .list-group-item:hover {
        background-color: #b1e3fc;
    }

    .portfolio .list-group .list-group-item.active:hover {
        background-color: var(--color-alt-blue);
    }

    .portfolio .portfolio__box:hover .box-overlay {
        top: -126px;
    }

    .portfolio .portfolio__box:hover {
        transform: scale(1.2);
        transition: var(--transition2s);
    }
}



/* 
//
//
// CLIENTES
// */
.clients {
    background-image: url(../img/background/bg-clientes.png);
    background-repeat: no-repeat;
    background-position: right;
    color: var(--color-primary-dark);
}

.clients header h2 {
    font-size: 3.2rem;
}


/* 
//
//
// TESTIMONIAL
// */
.testimonial {
    padding: 2.5rem 0;
    background-image: url(../img/background/bg-depoimentos.png);
    background-size: cover;
}

.testimonial header h2 {
    color: var(--color-alt-blue);
    font-size: 1.6rem;
}

.testimonial .testimonial__box {
    background-color: var(--white);
    border-radius: 1.2rem;
    box-shadow: 5px 1px 19px 10px rgb(3 3 3 / 6%);
    padding: 1.8rem 1.6rem;
    position: relative;
}

.testimonial .testimonial__box:after {
    content: '';
    display: inline-block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: 0.5rem solid #f4f4f46e;
    top: 1.6rem;
    z-index: -1;
    border-radius: 1.2rem;
}

.testimonial .testimonial__box header img {
    max-width: 16%;
}

.testimonial .testimonial__box main {
     margin: 2rem 0;
     height: 18.5rem;
     overflow-y: scroll;
}

/* Largura da barra de rolagem */
.testimonial .testimonial__box main::-webkit-scrollbar { width: 4px; }

/* Fundo da barra de rolagem */
.testimonial .testimonial__box main::-webkit-scrollbar-track-piece { background-color: #EEE; }

/* Cor do indicador de rolagem */
.testimonial .testimonial__box main::-webkit-scrollbar-thumb:vertical,
.testimonial .testimonial__box main::-webkit-scrollbar-thumb:horizontal { background-color: var(--color-primary); }

/* Cor do indicador de rolagem - ao passar o mouse */
.testimonial .testimonial__box main::-webkit-scrollbar-thumb:vertical:hover,
.testimonial .testimonial__box main::-webkit-scrollbar-thumb:horizontal:hover { background-color: #717171 }


.testimonial .testimonial__box footer span {
    color: #7e7e7e;
    font-size: 1.55rem;
    font-weight: 550;
}

.testimonial .testimonial__box footer h5 {
    color: var(--color-primary);
    font-family: var(--font-fredoka);
    font-size: 1.6rem;
}

.testimonial .testimonial__hero h3 {
    font-size: 2.2rem;
    font-weight: bold;
    line-height: 2.6rem;
    text-align: center;
    color: #6b6b6b;
    
}

.testimonial .testimonial__hero p {
    font-size: 1.6rem;
    text-align: center;
}

/* BREAKPOINT TABLET-TO-PC */
@media (min-width: 769px) { 
    .testimonial {
        padding: 6.5rem 0;
    }

    .testimonial header h2 {
        font-size: 3.6rem;
    }

    .testimonial .testimonial__hero h3 {
        font-size: 2.8rem;
    }

    .testimonial .testimonial__box main {
        height: 13.5rem;
    }
}


/* 
//
//
// WHATS'UP
// */
.whatsUp {
    background: linear-gradient(304deg, rgba(0,212,255,1) -34%, rgba(36,57,75,1) 71%);
    color: var(--white);
    padding: 1.6rem 0;
}

.whatsUp header h2 {
    font-size: 3.6rem;
}

.whatsUp .whatsUp__box {
    background-color: var(--white);
    border-radius: 0.8rem;
    padding: 1.4rem 0.9rem;
}

.whatsUp img {
    max-width: 70%;
}

/* BREAKPOINT TABLET-TO-PC */
@media (min-width: 769px) { 
    .whatsUp img {
        max-width: 100%;
    }
}


/* 
//
//
// FOOTER
// */
.footer {
    background-color: var(--color-alt-blue);
    color: var(--white);
}

.footer .footer__mediaList {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 1rem;
}

.footer .footer__mediaList li a {
    background-color: var(--white);
    border-radius: 50%;
    box-shadow: var(--box-shadow);
    color: var(--color-alt-blue);
    display: inline-block;
    font-size: 1.6rem;
    height: 3.2rem;
    line-height: 3.3rem;
    text-align: center;
    transition: var(--transition4s);
    width: 3.2rem;
}

.footer .footer__mediaList li:nth-child(2) {
    margin: 0 1rem;
}

.footer .footer__siteMap li a {
    color: var(--white);
    font-size: 1.6rem;
    font-weight: 600;
}

.footer .footer__address {
    font-size: 1.6rem;
    font-weight: 600;
}

.footer .footer__address li:not(:last-child) {
    margin-bottom: 0.95rem;
}

.footer .footer__address li i {
    color: var(--color-primary);
}

/* BREAKPOINT TABLET-TO-PC */
@media (min-width: 769px) { 
    .footer .footer__mediaList li a:hover {
        box-shadow: var(--box-shadow);
        transform: scale(1.3);
        transition: var(--transition4s);
    }

    .footer .footer__siteMap li a:hover {
        border-bottom: 1px dotted rgba(255, 255, 255, 0.63);
    }
}

/* DEV BY */
.nos {
    background-color: var(--color-alt-blue);
    color: var(--white);
    font-size: 1.7rem;
    font-weight: 600;
    border-top: 1px solid rgba(255, 255, 255, 0.178);
}


/* 
//
//
// 404
// */
.page-404 header {
    color: var(--color-primary);
}

.page-404 header span {
    font-weight: 700;
    font-size: 3rem;
}

.page-404 header h2 {
    font-size: 3.2rem;    
}

.page-404 span {
    font-size: 1.5rem;
}