.header--servico {
  background-color: var(--color-green);
  background-image: url(../img/background/bg-landing-pages.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: inset 0px -9px 20px 2px rgba(3, 3, 3, 0.16);
}

.header--servico .navbar-light .navbar-nav .nav-link {
  color: #ffffffbf;
}

.header--servico .hero--intern {
  align-items: center;
  color: var(--white);
  height: 320px;
  text-shadow: 2px 2px 3px rgb(3 3 3 / 24%);
}

.header--servico .hero--intern header span {
  font-size: 1.8rem;
}

.header--servico .hero--intern header h2 {
  font-size: 3.2rem;
}

.header--servico .hero--intern header p {
  font-weight: 700;
  font-size: 1.8rem;
}

/* BREAKPOINT TABLET / DESKTOP */
@media (min-width: 769px) {
  .header--servico .hero--intern {
    height: 400px;
  }

  .header--servico .hero--intern header h2 {
    font-size: 5rem;
  }
}


/* BG-COLORS LANDINGPAGE */
.blue   { background: #17b7b7; }
.green  { background: #89cf7e; }
.purple { background: #a29bfe; }
.orange { background: #fab1a0; }
.red    { background: #ff7979; }


/* 
//
//
// CONTENT LANDING PAGE
// */
.section-default { 
  padding: 3.6rem 0; 
}

.section-default .info { 
  background: #fff; 
  border-bottom: 0.2rem solid #009bc1; 
  border-left: 0.2rem solid #009bc1; 
  display: inline-block; 
  margin-bottom: 12px; 
  padding: 0.2rem 0.7rem; 
}

.section-default .info h2 { 
  color: #01beed; 
  font-size: 1.6rem; 
  font-weight: bold; 
  margin-bottom: 0; 
}

.section-default h3 {
  font-family: var(--font-fredoka);
  font-size: 2.4rem;
  font-weight: 400;
}


.section-default ul {
  font-size: 1.6rem;
}

.section-default ul li:not(:last-child) {
  margin-bottom: 0.4rem;
}




/* 
//
//
// FORM LANDING PAGE
// */
.form-card { 
  position: relative; 
}

.form-card .form-head { 
  background: var(--color-primary);
  border-radius: 1.4rem 1.4rem 0 0; 
  color: var(--white); 
  padding: 1.8rem 0.3rem; 
}

.form-card .form-head h3 { 
  font-weight: 400; 
  font-size: 2rem;
  margin-bottom: 1.2rem; 
}

.form-card .form-body { 
  background: var(--white); 
  border: 1px solid #0000000d; 
  box-shadow: var(--box-shadow); 
  padding: 3rem 1.6rem; 
}  

.form-card form .form-control { 
  border: 0.2rem solid var(--color-primary);
} 

.form-card label {
  font-size: 1.4rem;
}

.form-card label span { 
  color: rgb(197, 29, 29); 
}

.form-card .form-icon i { 
  background: var(--white); 
  border-radius: 5rem; 
  color: var(--color-primary); 
  font-size: 2rem; 
  height: 4rem; 
  line-height: 4rem; 
  position: absolute; 
  right: -11px; 
  text-align: center; 
  top: -8px; 
  width: 4rem; 
}


/* BREAKPOINT DESKTOP */
@media (min-width: 1025px) {
  .form-card { 
    margin-top: -348px; 
  }
}


/* 
//
//
// ENDPAGE LANDING PAGE
// */
.endPages header h5 {
  color: var(--color-alt-blue);
  font-size: 1.7rem;
}

.endPages header h3 {
  font-size: 2.8rem;
}

.endPages header h3 span {
  font-weight: 200;
}

.endPages .btn {
  border-width: 0.2rem;
}

/* 
//
//
// LANDING PAGE HAGILIZE
// */
:root {
  --height-main: 67vh;
  --padding-servico: 5% 50% 3% 2%;
  --main-color-hagilize: #499cd6;
  --transition-main-hagilize: all .4s ease-in-out;
  --box-shadow-hagilize: 1px 1px 16px 8px #0000000e, 5px 5px 5px 5px #0000;
}

.header-hagilize { background-image: url(../img/background/bg-hagilize.jpg); background-repeat: no-repeat; background-attachment: fixed; background-size: cover; height: var(--height-main); }
.h-75vh { height: var(--height-main); }

.header-hagilize .title { color: #fff; }
.header-hagilize .title h2 { font-size: 46px;  }

/* SOBRE NOS */
.sobre-nos .title h2 { font-size: 38px; }
.decor h2 { position: relative; display: inline; }
.decor hr { padding-bottom: 8px; background-color: #f7f7f7; color: #f7f7f7; }
.decor h2::after { content: ''; position: absolute; bottom: 0; width: 40px; height: 43px; left: -7px; background-color: var(--main-color-hagilize); z-index: -99999; }
.sobre-nos .title h2 b { font-weight: 700; }

/* SERVIÃ‡OS */
.servicos .work-card { padding: 14px; border-radius: 8px; box-shadow: var(--box-shadow-hagilize); }
.servicos .work-card h4 { background: #fff; padding: 8px; display: inline-block; box-shadow: var(--box-shadow-hagilize); }
.servicos .col-12:nth-child(1) .work-card { background: -webkit-linear-gradient(to right, #ff416c, #ff4b2b); 
  background: linear-gradient(to right, #ff416c, #ff4b2b); color: #fff; }
.servicos .col-12:nth-child(1) .work-card h4 { color: #ff3860; } 

.servicos .col-12:nth-child(2) .work-card { background: -webkit-linear-gradient(to bottom, #00b4db, #0196c7); 
  background: linear-gradient(to right, #00b4db, #0196c7); color: #fff; }
.servicos .col-12:nth-child(2) .work-card h4 { color: var(--main-color-hagilize); }

.servicos .col-md-4 .work-card { background: -webkit-linear-gradient(to top, #232526, #414345); 
  background: linear-gradient(to top, #232526, #414345); color: #ffff; }
.servicos .col-md-4 .work-card  h4 { color: #232526; }

/* VANTAGENS */
.vantagens ul li i { color: #205d84; }

/* DUVIDAS */
.duvidas { background-color: #f0f2fc; padding: 38px 0; }
.duvidas .title h6 { color: var(--main-color-hagilize); }
.duvidas .title h3 { color: #10275e; font-weight: bold; }
.duvidas p { color: #8392a1; }

.duvidas .card-doubt { padding: 22px 12px; transition: var(--transition-main-hagilize); display: flex; height: 115px; flex-direction: column; justify-content: center; background: #e7ecff; }
.duvidas .card-doubt h5 { color: #071e57; display: inline; font-size: 1.8rem; }
.duvidas .card-doubt a { color: #2775d8; font-weight: bold; display: table-cell; font-size: 1.5rem; }
.duvidas .card-doubt:hover { background: #fff; border-radius: 6px; box-shadow: var(--box-shadow-hagilize); transition: var(--transition-main-hagilize); transform: translateX(-10px) ;}

/* VAMOS TRABALHAR JUNTOS */
.vamos-trabalhar { background: -webkit-linear-gradient(to left, #a8c0ff, #3f2b96); background: linear-gradient(to left, #a8c0ff, #3f2b96); padding: 22px 0; }
.talk-us { background: #499cd6; color: #fff; font-weight: 700; padding: 12px 26px; border-radius: 25px; font-size: 1.6rem; box-shadow: var(--box-shadow-hagilize); }
.talk-us:hover { background: #ff3860; color: #fff; transition: var(--transition-main-hagilize); }

/* LIST */
.list { font-size: 1.6rem ;}
.check i { color: #499cd6; }

/* AJUDA */
.ajuda { background: #f0f2fc; padding: 22px 0; }
.ajuda .title h3 { color: #10275e; font-size: 2.4rem; }
.ajuda .title p { color: #8392a1; }
.card .card-body { background: #e7ecff; }
.card a { background-color: #c0dbff; padding: 9px; color: #195c85; }  


/* CURSO CAMPEÃƒO */
.curso-campeao { background: linear-gradient(to left, #373b44, #4286f4); padding: 22px 0; }

/* ESPECIFICO */
.especifico { background: url(../img/background/videos-hagilize.png); background-size: cover; padding: 28px 0; }

/* 8 ETAPAS */
.step-by-step { background: -webkit-linear-gradient(to left, #a8c0ff, #3f2b96); background: linear-gradient(to left, #a8c0ff, #3f2b96);  padding: 22px 0; }
.step-by-step ul li span { background-color: #fff; height: 30px; line-height: 31px; width: 30px; text-align: center; border-radius: 50%; display: inline-block; font-weight: bold; box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.021); color: #4286f4; margin-right: 4px; }
.step-by-step ul li { margin-bottom: 12px; }



@media (min-width: 768px) {
  /* SERVICOS */
  .servicos .item-1 { padding: 6% 1% 4% 56%; }
  .servicos .space-text { padding: var(--padding-servico); }
  
}