.header--servico {
  background-color: var(--color-green);
  background-image: url(../img/background/bg-landing-pages.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: inset 0px -9px 20px 2px rgba(3, 3, 3, 0.16);
}

.header--servico .navbar-light .navbar-nav .nav-link {
  color: #ffffffbf;
}

.header--servico .hero--intern {
  align-items: center;
  color: var(--white);
  height: 320px;
  text-shadow: 2px 2px 3px rgb(3 3 3 / 24%);
}

.header--servico .hero--intern header span {
  font-size: 1.8rem;
}

.header--servico .hero--intern header h2 {
  font-size: 3.2rem;
}

.header--servico .hero--intern header p {
  font-weight: 700;
  font-size: 1.8rem;
}

/* BREAKPOINT TABLET / DESKTOP */
@media (min-width: 769px) {
  .header--servico .hero--intern {
    height: 400px;
  }

  .header--servico .hero--intern header h2 {
    font-size: 5rem;
  }
}


/* BG-COLORS LANDINGPAGE */
.blue   { background: #17b7b7; }
.green  { background: #89cf7e; }
.purple { background: #a29bfe; }
.orange { background: #fab1a0; }
.red    { background: #ff7979; }


/* 
//
//
// CONTENT LANDING PAGE
// */
.section-default { 
  padding: 3.6rem 0; 
}

.section-default .info { 
  background: #fff; 
  border-bottom: 0.2rem solid #009bc1; 
  border-left: 0.2rem solid #009bc1; 
  display: inline-block; 
  margin-bottom: 12px; 
  padding: 0.2rem 0.7rem; 
}

.section-default .info h2 { 
  color: #01beed; 
  font-size: 1.6rem; 
  font-weight: bold; 
  margin-bottom: 0; 
}

.section-default h3 {
  font-family: var(--font-fredoka);
  font-size: 2.4rem;
  font-weight: 400;
}


.section-default ul {
  font-size: 1.6rem;
}

.section-default ul li:not(:last-child) {
  margin-bottom: 0.4rem;
}




/* 
//
//
// FORM LANDING PAGE
// */
.form-card { 
  position: relative; 
}

.form-card .form-head { 
  background: var(--color-primary);
  border-radius: 1.4rem 1.4rem 0 0; 
  color: var(--white); 
  padding: 1.8rem 0.3rem; 
}

.form-card .form-head h3 { 
  font-weight: 400; 
  font-size: 2rem;
  margin-bottom: 1.2rem; 
}

.form-card .form-body { 
  background: var(--white); 
  border: 1px solid #0000000d; 
  box-shadow: var(--box-shadow); 
  padding: 3rem 1.6rem; 
}  

.form-card form .form-control { 
  border: 0.2rem solid var(--color-primary);
} 

.form-card label {
  font-size: 1.4rem;
}

.form-card label span { 
  color: rgb(197, 29, 29); 
}

.form-card .form-icon i { 
  background: var(--white); 
  border-radius: 5rem; 
  color: var(--color-primary); 
  font-size: 2rem; 
  height: 4rem; 
  line-height: 4rem; 
  position: absolute; 
  right: -11px; 
  text-align: center; 
  top: -8px; 
  width: 4rem; 
}



/* BREAKPOINT DESKTOP */
@media (min-width: 1025px) {
  .form-card { 
    margin-top: -348px; 
  }
}



/* 
//
//
// ENDPAGE LANDING PAGE
// */
.endPages header h5 {
  color: var(--color-alt-blue);
  font-size: 1.7rem;
}

.endPages header h3 {
  font-size: 2.8rem;
}

.endPages header h3 span {
  font-weight: 200;
}

.endPages .btn {
  border-width: 0.2rem;
}
