.header--intern {
  background-image: url(../img/background/bg-intern-page.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: inset 0px -9px 20px 2px rgba(3, 3, 3, 0.16);
}

.header--intern .navbar-light .navbar-nav .nav-link {
  color: #ffffffbf;
}

.header--intern .hero--intern {
  align-items: center;
  color: var(--white);
  height: 320px;
  text-shadow: 2px 2px 3px rgb(3 3 3 / 24%);
}

.header--intern .hero--intern header h2 {
  font-size: 4rem;
}

.header--intern .hero--intern header p {
  font-weight: 700;
  font-size: 1.8rem;
}

/* BREAKPOINT TABLET-TO-PC */
@media (min-width: 769px) {
  .header--intern .hero--intern {
    height: 400px;
  }

  .header--intern .hero--intern header h2 {
    font-size: 5rem;
  }
}

/* 
//
//
// 404 PAGE
// */
.page-404 header {
  color: var(--color-primary);
}

.page-404 header span {
  font-weight: 700;
  font-size: 3rem;
}

.page-404 header h2 {
  font-size: 3.2rem;    
}

.page-404 span {
  font-size: 1.5rem;
}



/* PAGINA INTERNA 
// 
// CLIENTES/PORTFOLIO */
.internPage .navbar {
  background-color: var(--color-alt-blue);
  bottom: 0;
  position: fixed;
  width: 100%;
  z-index: 2;
  padding: 1rem;
}

.internPage .navbar .navbar-brand span {
  font-size: 1.6rem;
  font-weight: 600;
}

.internPage .navbar .animated-icon span {
  background: var(--white);
}

.internPage .navbar ul li:not(:last-child) {
  margin-bottom: 0.8rem;
}

.internPage .navbar ul li h3 {
  color: var(--white);
  font-weight: 700;
}

.internPage .navbar ul li .form-control {
  background-color: transparent;
  border-width: 0 0 1px 0;
  color: var(--white);
}

.internPage .navbar ul li .form-control::-webkit-input-placeholder {
  color: var(--white);
}

.internPage .navbar ul li .form-control:-moz-placeholder {
  color: var(--white);
}

.internPage .navbar ul li .form-control::-moz-placeholder {
  color: var(--white);
}

.internPage .navbar ul li .form-control:-ms-input-placeholder {
  color: var(--white);
}

.internPage .navbar-dark .navbar-nav .nav-link {
  color: var(--white);
  font-size: 1.5rem;
}

/* BREAKPOINT TABLET-TO-PC */
@media (min-width: 992px) { 
  .internPage {
      position: relative;
      padding-left: 24rem;
  }

  .internPage .navbar {
    display: flex;
    flex-direction: column;
    height: calc(134vh - 197px);
    left: 0;
    position: absolute;
    top: 0;
    width: 24rem;
  }

  .internPage .navbar-dark .navbar-nav .nav-link:hover {
    background-color: var(--color-dark);
    border-radius: 0.3rem;
    color: var(--white);
  }

  .internPage .navbar ul li:not(:last-child) {
    margin-bottom: 1.2rem;
  }

  .internPage .container {
    height: calc(128vh - 211px);
    overflow-x: scroll;
    padding-top: 3rem;
  }

  .internPage .container::-webkit-scrollbar { width: 4px; }

  /* Fundo da barra de rolagem */
  .internPage .container::-webkit-scrollbar-track-piece { background-color: #EEE; }

  /* Cor do indicador de rolagem */
  .internPage .container::-webkit-scrollbar-thumb:vertical,
  .internPage .container::-webkit-scrollbar-thumb:horizontal { background-color: var(--color-primary); }

  /* Cor do indicador de rolagem - ao passar o mouse */
  .internPage .container::-webkit-scrollbar-thumb:vertical:hover,
  .internPage .container::-webkit-scrollbar-thumb:horizontal:hover { background-color: #717171 }

  .internPage .navbar .navbar-collapse {
      width: 100%;
      align-items: flex-start;
  }
} 


/* 
//
//
// SEARCH PAGE 
// */
.bg-purple {
  background-color: var(--color-purple);
}

.bg-purple header h2 {
  font-family: var(--font-fredoka);
  font-size: 2.8rem;
}